NEXT_PUBLIC_APP_URL=http://localhost
NEXT_PUBLIC_API_URL=http://localhost:3001
NEXT_PUBLIC_GITHUB_APP_NAME=vizdiff-self-hosted
NEXT_PUBLIC_GITHUB_CLIENT_ID=your_github_client_id

NEXT_PUBLIC_DD_APPLICATION_ID=
NEXT_PUBLIC_DD_CLIENT_TOKEN=
NEXT_PUBLIC_GA_ID=
